# gva-python

In [27]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import calplot

print("imported libraries")

ModuleNotFoundError: No module named 'calplot'

In [2]:
# Get the data
df = pd.read_csv('mass-shootings-2022.csv')
df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2491656,"December 31, 2022",Arizona,Phoenix,4201 N 19th Ave,0,9,NaN
1,2492253,"December 31, 2022",Alabama,Mobile,200 block of Dauphin St,1,8,NaN
2,2491054,"December 30, 2022",Tennessee,Memphis,E Brooks Rd,1,3,NaN
3,2490925,"December 30, 2022",Texas,Humble,4800 block of Park Square Ln,2,3,NaN
4,2489614,"December 28, 2022",New York,Bronx,851 E Tremont Ave,1,3,NaN

In [15]:
df['Incident Date'] = pd.to_datetime(df['Incident Date'], format='%B %d, %Y')
df.head()
df.tail()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
641,2201641,2022-01-01,Wisconsin,Kenosha,1708 52nd St,1,3,NaN
642,2202001,2022-01-01,Illinois,Peoria,2000 block of SW Adams St,2,2,NaN
643,2201876,2022-01-01,South Carolina,Dillon,3261 Hwy 9,0,5,NaN
644,2201848,2022-01-01,Indiana,South Bend,1500 block of S Miami St,0,4,NaN
645,2201677,2022-01-01,Colorado,Denver,1919 Blake St,2,2,NaN

In [23]:
calplot.calplot(df['Incident Date'], cmap='YlOrRd', edgecolor='black', linewidth=0.5, yearlabel_kws={'color':'black', 'fontsize':14}, monthlabel_kws={'color':'black', 'fontsize':12}, daylabel_kws={'color':'black', 'fontsize':10}, suptitle='Mass Shootings in 2022', figsize=(15, 10))

NameError: name 'calplot' is not defined