# gva-python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("imported libraries")

imported libraries

In [8]:
# Get the data
df = pd.read_csv('mass-shootings-2022.csv')
df.head()

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
641,2201641,"January 1, 2022",Wisconsin,Kenosha,1708 52nd St,1,3,NaN
642,2202001,"January 1, 2022",Illinois,Peoria,2000 block of SW Adams St,2,2,NaN
643,2201876,"January 1, 2022",South Carolina,Dillon,3261 Hwy 9,0,5,NaN
644,2201848,"January 1, 2022",Indiana,South Bend,1500 block of S Miami St,0,4,NaN
645,2201677,"January 1, 2022",Colorado,Denver,1919 Blake St,2,2,NaN